/*{
    padding: 0%;
    margin: 0%;

}*/
html{
    background: url(../media/21omxpw.jpg.crdownload);
    background-size: cover;
}
body{
    margin-top: -18px;
   
}
a{
    text-decoration: none;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
}
.estilos_de_h1 {
    background: url(../media/Diamond_Plate.jpg);
    background-size: cover;
    display: flex;
    font-size: 40px;
    justify-content: center;
    height: 5vh;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.mainfooter{
    background-image: url(../media/Diamond_Plate.jpg);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-size: cover;

}
.divanchor {
    width: 3rem;
    padding: 0.5rem;
}
.divanchor:hover {
    background-color: rgba(255, 255, 255, 0.315);
}
.divimagendemi {
    height: 450px;
    display: flex;
    justify-content: center;
}
.imagenbienfacha {
    border-radius: 50%;
}
.youtube {
    height: 2.3rem;
    
}
.instagram {
    height: 2.7rem;
}
.mainheader {
    background-image: url(../media/Diamond_Plate.jpg);
    background-size: cover;
    height: 3rem;

}
.lheader {
    background-color: transparent;
}
.ulheader {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.divheader {
    line-height: 3rem;
}
.estilosdeh2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;

}
.divestilosdeh3 {
    margin-left: 25%;
    margin-right: 25%;
}
.divanchor2 {
    padding: 0.8rem;
}
.divanchor2:hover {
    background-color: rgba(255, 255, 255, 0.315);
}
.contactorsimg {
    width: 350px ;
    height: 100px;
    border-style: dashed;
}
.divcontactor {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.h2medidas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 92px;  
    display: flex;
    justify-content: center;  
}
.colegios {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}
.imgcolegios {
    width: 450px;
    border-style: groove;
    height: 300px;

}
.spotify {
    height: 3rem;
}
.footerr {
    margin-top: 600px;
}
.textofondo {
    background-image: url(../media/istockphoto-451249249-612x612.jpg);
    background-size: cover;
    border-style: groove;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.textofondo2 {
    background-image: url(../media/istockphoto-451249249-612x612.jpg);
    background-size: cover;
    border-style: groove;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divanchorcontactos {
    width: 400px ;
    height: 100px;
}
.footerr2 {
    margin-top: 700px;
}
.fuente {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


